@import url('./style.css');

body {
    background-color: var(--bg-beige);
    color: var(--secondary-color);
    font-family: var(--font-body);
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    margin-bottom: 24px;
    color: var(--primary-color);
}

.main-title h1 {
    display: flex;
    align-items: center;
    font-family: var(--font-heading);
}

.main-title img {
    margin-top: 30px;
    border-radius: 16px;
    max-width: 100%;
    height: auto;
}

.team {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-story {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 500px;
    background-color: var(--primary-color);
    border-radius: 16px;
}

.team-story h1 {
    color: var(--bg-beige);
    font-family: var(--font-heading);
}

.lowongan {
    background-color: var(--secondary-color);
}

@media (max-width: 576px) {
    .main-title {
        flex-direction: column;
    }
}

@media (min-width: 577px) and (max-width: 992px) {

}

@media (min-width: 992px) {
    .main-title {
        flex-direction: row;
    }
}