@import url('index.css');

body {
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6 ;
    background-color: rgba(0, 0, 0, 0.916);

}



.title{
    display: flex;
    margin-top: 0px;
    color: #e8f1fa;
    margin-bottom: 0;
    justify-content: center;
}

h1 {
    color: #e8f1fa;
    margin-bottom: 0;
    animation: neonPulse 2s infinite alternate,
    wave 3.5s infinite;
}

.graph-location{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.graph-visual{
    display: block;
    width: 1000;
    height: 500;
    border:1px solid #ffffff;
    border-radius: 6px;
}

.graph-container {
    background: var(--base-graph-container);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid red;
    animation: colorChange 4s linear infinite;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-id {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    overflow: visible;
}

#data-input {
    display: flex;
    width: 500px;
    flex-direction: column;
}

#data-input .button-plot {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    animation: colorChange 3s infinite;
}

@keyframes colorChange {
    0% {
        border-color: rgb(255, 0, 0);
    }
    50% {
        border-color: rgb(30, 255, 0);
    }
    100% {
        border-color: rgb(0, 89, 255);
    }
}

@keyframes neonPulse {
    from { text-shadow: 0 0 3px red, 0 0 6px lime; }
    to {text-shadow: 0 0 9px blue, 0 0 12px red }
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}