:root {
    --primary-color: rgb(255, 255, 255);
    --base-body: black;
    --base-h1: #0f172a;
    --base-h2: #1e293b;
    --base-form: #4980da;
    --base-form-border: #e2e8f0;
    --base-textarea: #f8fafc;
    --base-result-box: #4980da;
    --base-result-box-border: #4980da;
    --base-table: #ffffff;
    --base-th-td-border: black;
    --base-th-td: black;
    --base-th: #fd02a5;
    --base-navbar: #4980da;
    --base-graph-container:rgb(32, 32, 83);
    --base-navbar-a: #ffffff;
    --base-profile-title: #ffff;
    --base-member: rgb(32, 32, 83);
    --base-member-hover: #000000;
    --theme-background : url('../IMG/Light Theme.jpg');
}

.darkmode {
    --primary-color: black;
    --base-body: rgb(255, 255, 255);
    --base-h1: #e8f1fa;
    --base-h2: rgb(32, 32, 83);
    --base-form: rgb(32, 32, 83);
    --base-form-border: red;
    --base-textarea: #fcfdff;
    --base-result-box: rgb(32, 32, 83);
    --base-result-box-border: rgb(32, 32, 83);
    --base-table: white;
    --base-th-td-border: rgb(32, 32, 83);
    --base-th-td: rgb(32, 32, 83);
    --base-th: rgb(200, 200, 213);
    --base-navbar: rgb(32, 32, 83);
    --base-navbar-a: white;
    --base-profile-title: #4980da;
    --base-member: #4980da;
    --base-member-hover: #073c93;
    --base-graph-container: #4980da;
    --theme-background : url('../IMG/Dark Theme.jpg');
}



header {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


body {
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6 ;
    background-image: var(--theme-background);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    min-height: calc(100vh - 70px);

}


h1 {
    color: white;
    margin-bottom: 0;
    animation: neonPulse 2s infinite alternate,
    wave 3.5s infinite;
}

h2 {
    margin: 0;
    color: var(--base-h2);
}

h3 {
    color:#ffffff
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    background: var(--base-form);
    padding: 30px;
    border-radius: 8px;

    border: 1px solid var(--base-form-border); 
    animation: colorChange 4s linear infinite;
}

textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    background: var(--base-textarea);
    padding: 30px;
    border-radius: 10px;
    resize: vertical;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    gap: 15px;
}

button {
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.button-calculate:hover{
    border: none;
    animation: shadowcolorChange 3s linear infinite;
}

.button-clear:hover { 
    border: none;
    animation: shadowcolorChange 3s linear infinite;
}

.content-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.form-box{
    width: 100%;
}

.result-box {
    width: 100%;
    background: var(--base-result-box);
    padding: 30px;
    padding-top: 30px;
    border-radius: 8px;
    border: 1px solid var(--base-result-box-border); 
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    animation: colorChange 5s ease-in-out infinite;
}

.hidden-table{
    display: none;
}

@keyframes shadowcolorChange {
    0% {
        box-shadow: 0 0 15px red;
    }

    33% {
        box-shadow: 0 0 15px lime;
    }

    66% {
        box-shadow: 0 0 15px blue;
    }

    100% {
        box-shadow: 0 0 15px red;
    }   
}

@keyframes colorChange {
    0%   { border-color: red; }
    14%  { border-color: orange; }
    29%  { border-color: yellow; }
    42%  { border-color: green; }
    57%  { border-color: blue; }
    71%  { border-color: indigo; }
    85% { border-color: violet; }
    100%   { border-color: red; }   
}

@keyframes rgbBackground {
    0%   { background-color: red; }
    14%  { background-color: orange; }
    29%  { background-color: yellow; }
    42%  { background-color: green; }
    57%  { background-color: blue; }
    71%  { background-color: indigo; }
    85% { background-color: violet; }
    100%   { background-color: red; }    
}

@keyframes neonPulse {
    from { text-shadow: 0 0 3px red, 0 0 6px lime; }
    to {text-shadow: 0 0 9px blue, 0 0 12px red }
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--base-table);
}

th, td {
    border: 2px solid var(--base-th-td-border);
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

th {
    background-color: var(--base-th);
    font-size: 1.1rem;
    text-align: center;
}

td {
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(20, 20, 50, 0.5);
}