body {
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6 ;

    background-image: url('../IMG/Dark Theme.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

}

header {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


h1 {
    color: #e8f1fa;
    margin-bottom: 0;
    animation: neonPulse 2s infinite alternate,
    wave 3.5s infinite;
}

h2 {
    margin: 0;
    color: rgb(9, 16, 16);
}

h3 {
    color:#fff
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    background: rgb(32, 32, 83);
    padding: 30px;
    border-radius: 8px;
    border: 1px solid red; 
    animation: colorChange 4s linear infinite;
}

textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    background: #fcfdff;
    padding: 30px;
    border-radius: 10px;
    resize: vertical;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    gap: 15px;
}

button {
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.button-calculate:hover{
    border: none;
    animation: shadowcolorChange 3s linear infinite;
}

.button-clear:hover { 
    border: none;
    animation: shadowcolorChange 3s linear infinite;
}

.content-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.form-box{
    width: 100%;
}

.result-box {
    width: 100%;
    background: rgb(32, 32, 83);
    padding: 30px;
    padding-top: 30px;
    border-radius: 8px;
    border: 1px solid #808080; 
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    animation: colorChange 5s ease-in-out infinite;
}


/**
    Hide table
**/
.hidden-table{
    display: none;
}

@keyframes shadowcolorChange {
    0% {
        box-shadow: 0 0 15px red;
    }

    33% {
        box-shadow: 0 0 15px lime;
    }

    66% {
        box-shadow: 0 0 15px blue;
    }

    100% {
        box-shadow: 0 0 15px red;
    }   
}

@keyframes colorChange {
    0%   { border-color: red; }
    14%  { border-color: orange; }
    29%  { border-color: yellow; }
    42%  { border-color: green; }
    57%  { border-color: blue; }
    71%  { border-color: indigo; }
    85% { border-color: violet; }
    100%   { border-color: red; }   
}

@keyframes rgbBackground {
    0%   { background-color: red; }
    14%  { background-color: orange; }
    29%  { background-color: yellow; }
    42%  { background-color: green; }
    57%  { background-color: blue; }
    71%  { background-color: indigo; }
    85% { background-color: violet; }
    100%   { background-color: red; }    
}

@keyframes neonPulse {
    from { text-shadow: 0 0 3px red, 0 0 6px lime; }
    to {text-shadow: 0 0 9px blue, 0 0 12px red }
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

table {
    width: 85%;
    margin: 20px auto;
    border-collapse: collapse; 
    background-color: transparent;
}

th, td {
    border: 2px solid #808080;
    padding: 4px 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

th {
    background-color: rgba(65, 65, 130, 0.8;
    font-size: 16px;
}

td {
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(20, 20, 50, 0.5);
}