@import url('./index.css');

.navbar {
    border: 5px solid red;
    background-color: var(--base-navbar);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin-right : 50px;
    gap: 30px;
}

.navbar a {

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: var(--base-navbar-a);
    font-size: 24px;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.navbar a:hover {
    background-color: black;
}

#theme-switcher {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-body);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5px; /* left out 5px from the top */
    right: 10px; /* left out 10px from the right */
}

#theme-switcher svg {
    fill: var(--primary-color);
}

#theme-switcher svg:last-child {
    display: none;
}

.darkmode #theme-switcher svg:first-child {
    display: none;
}

.darkmode #theme-switcher svg:last-child {
    display: block;
}


@keyframes colorChange {
    0% {
        border-color: rgb(255, 0, 0);
    }
    50% {
        border-color: rgb(30, 255, 0);
    }
    100% {
        border-color: rgb(0, 89, 255);
    }
}
