body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin : 0;
    padding : 0;
    line-height: 1.6 ;
    background-color:rgba(0, 0, 0,0.916);
}

header {
    margin : 0;
    text-align : center;    
    background-color : #c7cdec;
    padding : 30px;
}

h2{
    font-size: 30px;
}

header h1 {
    font-size: 40px;
    color :  #2c3e50;
    margin : 0 ;
}

header p {
    font-size : 20px;
    color : black;
    margin-top : 10px;
}

article {
    width : 90% ;
    margin : 30px auto;
    display : flex;
    flex-wrap : wrap;
    justify-content : center; 
}

h2 {
    text-align: center;
    color : #ffff;
    font-size: 38px;
    margin-top: 100px;
    animation: neonPulse 2s infinite alternate,
    wave 3.5s infinite;
}

.kelompok-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.kelompok-image {
    border : 3px solid #c7cdec;
    border-radius: 60px;
    box-shadow : 8px 8px 20px indigo;
}

.member {
    width : 300px;
    min-height : 200px; 
    margin : 20px;
    padding : 20px;
    border : 1px solid #868686; 
    border-radius: 20px;
    max-width: 300px;
    background-color :  rgb(32, 32, 83);
    animation: colorChange 10s ease-in-out infinite;
}

.member h3 {
    text-align : center;
    color :white;
    font-size : 23px;
    margin-bottom : 10px;
}

.member p:first-of-type {
    font-weight : bold;
    font-size : 25px;
    color : #c4c9e8;
}

.member p {
    text-align : center;
    font-size : 16px;
    color : #fcfdff;
    margin : 8px auto;
}

.member ul {
    list-style : none;
    margin : 0;
    padding: 0;
    display : flex;
    justify-content: center;
}

.member li {
    margin :10px;
}

.member a{
    text-decoration:none;
    color: white;
    transition: background-color 0.4s, color 0.4s;
}

.member:hover{
    background-color: #000000;
}


.member a:hover {
    background-color: #c7cdec;
    color :#2c3e50;
}

footer {
    text-align : center;
    padding : 30px;
    background-color : #c7cdec;
    color : black;
    font-size: large;
}

@keyframes neonPulse {
    from { text-shadow: 0 0 3px red, 0 0 6px lime; }
    to {text-shadow: 0 0 9px blue, 0 0 12px red }
}

@keyframes colorChange {
    0%   { border-color: red; }
    14%  { border-color: orange; }
    29%  { border-color: yellow; }
    42%  { border-color: green; }
    57%  { border-color: blue; }
    71%  { border-color: indigo; }
    85% { border-color: violet; }
    100%   { border-color: red; }   
}


@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}