body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin : 0;
    line-height: 1.6 ;
    background-color:rgba(0, 0, 0,0.916);
}

header {
    margin : 0;
    text-align : center;
    background-color : #c7cdec;
    padding : 30px;
}

header h1 {
    font-size: 40px;
    color :  #2c3e50;
    margin : 0 ;
}

header p {
    font-size : 20px;
    color : black;
    margin-top : 10px;
}

article {
    width : 90% ;
    margin : 30px auto;
    display : flex;
    flex-wrap : wrap;
    justify-content : center; 
}

article h2 {
    width : 100%;
    text-align : center;
    color : #e8f1fa;
    margin-bottom : 30px;
    font-size: 30px;
    animation: neonPulse 2s infinite alternate;
}

article > img {
    display : block; 
    margin-left : 250px;
    margin-right : 250px;
    margin-bottom : 30px; 
    width : 50%;
    height : 800px;
    border : 2px solid #c7cdec;
    border-radius: 60px;
    box-shadow : 5px 5px 10px rgba(234, 111, 197, 0.916);
}

.member {
    display : inline-block;
    width : 300px;
    min-height : 200px; 
    margin : 20px;
    padding : 20px;
    border : 2px; 
    border-style : dashed;
    border-width: 4px;
    border-radius: 35px;
    max-width: 300px;
    background-color:#868585;
    animation: colorChange 10s ease-in-out infinite;
}

.member h3 {
    text-align : center;
    color :white;
    font-size : 23px;
    margin-bottom : 10px;
}

.member p:first-of-type {
    font-weight : bold;
    font-size : 25px;
    color : #c4c9e8;
}

.member p {
    text-align : center;
    font-size : 16px;
    color : #fcfdff;
    margin : 8px auto;
}

.member ul {
    list-style : none;
    margin : 0;
    padding: 0;
    display : flex;
    justify-content: center;
}

.member li {
    margin :10px;
}

.member a{
    text-decoration:none;
    color: white;
    transition: background-color 0.4s, color 0.4s;
}


.member a:hover {
    background-color: #c7cdec;
    color :#2c3e50;
}

footer {
    text-align : center;
    padding : 30px;
    background-color : #c7cdec;
    color : black;
    font-size: large;
}

@keyFrames neonPulse {
    from { text-shadow: 0 0 3px red, 0 0 6px lime; }
    to {text-shadow: 0 0 9px blue, 0 0 12px red }
}

